{% extends 'master.html' %}
{% block body %}


    <div class="row mb-2 mb-xl-3">
      <div class="col-auto d-none d-sm-block">
        <h3><strong>CHUA</strong> Recrutamento Funcionários</h3>
      </div>

      <div class="col-auto ms-auto text-end mt-n1">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb bg-transparent p-0 mt-1 mb-0">
            <li class="breadcrumb-item active" aria-current="page"><a href="/admin/"></a>Home</li>
          </ol>
        </nav>
      </div>
    </div>
    
    <div class="row">
      <div class="col-xl-6 col-xxl-5 d-flex">
        <div class="w-100">
          <div class="row">
            <div class="col-sm-6">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title mb-4">Concursos</h5>
                  <h1 class="mt-1 mb-3">2</h1>
                  <div class="mb-1">
                    <span class="text-success"> <i class="mdi mdi-arrow-bottom-right"></i> 50% </span>
                    <span class="text-muted">No último mês</span>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title mb-4">Candidatos</h5>
                  <h1 class="mt-1 mb-3">6</h1>
                  <div class="mb-1">
                    <span class="text-success"> <i class="mdi mdi-arrow-bottom-right"></i> 5.25% </span>
                    <span class="text-muted">Na última semana</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title mb-4">Candidaturas</h5>
                  <h1 class="mt-1 mb-3">30</h1>
                  <div class="mb-1">
                    <span class="text-success"> <i class="mdi mdi-arrow-bottom-right"></i> 6.65% </span>
                    <span class="text-muted">Na última semana</span>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title mb-4">Resultados</h5>
                  <h1 class="mt-1 mb-3">6</h1>
                  <div class="mb-1">
                    <span class="text-danger"> <i class="mdi mdi-arrow-bottom-right"></i> -2.25% </span>
                    <span class="text-muted">Na última semana</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xl-6 col-xxl-7">
        <div class="card flex-fill w-100">
          <div class="card-header">

            <h5 class="card-title mb-0">Novas candidaturas</h5>
          </div>
          <div class="card-body py-3">
            <div class="chart chart-sm">
              <canvas id="mycanvas"></canvas>
            </div>
          </div>
        </div>
      </div>
    </div>

{% endblock body %}

{% block tail %}
  <script>
    document.addEventListener("DOMContentLoaded", function(event) {
      var ctx = document.getElementById("mycanvas");
      var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
          labels: ["Red", "Blue", "Yellow", "Green", "Purple", "Orange"],
          datasets: [{
            label: '# of Votes',
            data: [12, 19, 3, 5, 2, 3],
            backgroundColor: ['rgba(255, 99, 132, 0.2)', 'rgba(54, 162, 235, 0.2)', 'rgba(255, 206, 86, 0.2)', 'rgba(75, 192, 192, 0.2)', 'rgba(153, 102, 255, 0.2)', 'rgba(255, 159, 64, 0.2)'],
            borderColor: [
              'rgba(255,99,132,1)',
              'rgba(54, 162, 235, 1)',
              'rgba(255, 206, 86, 1)',
              'rgba(75, 192, 192, 1)',
              'rgba(153, 102, 255, 1)',
              'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
          }]
        },
        options: {
          scales: {
            yAxes: [{
              ticks: {
                beginAtZero: true
              }
            }]
          }
        }
      });
});
  </script>
{% endblock tail %}